.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: auto;
	box-shadow: 0 1px 1px var(--platinum);
	margin: 0;
	padding: 12px 0;
}

.card {
	gap: 20px;
	display: flex;
	align-items: flex-start;
	height: auto;
	width: 470px;
}

.travel-img {
	object-fit: cover;
	height: 168px;
	width: 125px;
	border-radius: 5px;
}

