:root {
	--platinum: #e5e5e5;
	--sunset-orange: #f55a5a;
	--spanish-grey: #918e9b;
	--gun-metal:#2B283A;
	font-family: Inter;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	background: var(--platinum);
}

